<footer id='footer'>
  <div class='container' id='social-media-container'>
    <%= fa_icon "twitter 2x" %>
    <%= fa_icon "instagram 2x" %>
    <%= fa_icon "facebook 2x" %>
    <%= fa_icon "pinterest 2x" %>
  </div>
</footer>
