<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header" id='navbar-container'>
      <a href='/' class="navbar-brand">Tantori</a>
        </div>
        <ul class="nav navbar-nav pull-right options">
          <li><%= link_to "About", about_path %> </li>
          <li><%= link_to "Shop", shop_path   %> </li>
          <li><%= link_to "The Team", contact_path  %> </li>
        </ul>
      </div>
    </nav>
