<div class="container">
  <div class="row">
    <div id='about-container'>
      <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oQDlpDGjhgI?list=PLsPG6UqrftvUXu9hP2mmH4jbVjW3mmuDy" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
      <div class='image-container'>
        <h4> Money Raised </h4>
        <%= image_tag("money.png", size: '100') %>
        <h6>Tantori has raised over $5,000 for endangered elephants.</h6>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>
        Tantori's Mission
      </h1>
      <p>
        Tantori’s mission is not only to spread awareness of elephant endangerment, but to make a contribution to the cause by donating twenty percent of each sale to 96 Elephants. In order to achieve this, we have designed 7 elephant-inspired bangles representing different traits unique to elephants. By wearing a Strength, Patience, Remembrance, Intelligence, Leadership, Love or Friendship bangle, people will be reminded of both the dangers elephants face and the characteristics that make them so cherishable. As the saying goes, “An elephant never forgets,” so why should we forget about them?
      </p>
  </div>
  </div>
</div>
