<div class="container">
  <div class="row" id='contact-container'>
    <div class="col-md-3">
      <%= image_tag('caroline.jpg', size:'200', class: 'team-icon')%>
    </div>
    <div class="col-md-9">
      <h1>Caroline</h1>
      <p>
        Caroline is a 16 year old born and raised in Tampa, Florida. She is going into her 11th grade year at Brooks Debartolo Collegiate High School. After learning about the endangerment of elephants, Caroline was inspired to create a way to inform others of the issue. Thanks to her passion for fashion and determination, Tantori was born.
      </p>
    </div>
  </div>

  <div class="row" id='contact-container'>
    <div class="col-md-3">
      <%= image_tag('noah.JPG', size:'200', class: 'team-icon')%>
    </div>
    <div class="col-md-9">
      <h1>Noah</h1>
      <p>
        Noah is a 16 year old from Lunenburg, Massachusetts. He is a rising junior at the Winchendon School and is an aspiring engineer. Noah handles most of the financial side of the business, with the help of the other team mates. Elephants have been his favorite animal since he was a young boy and he is eager to ensure their protection.
      </p>
    </div>
  </div>

  <div class="row" id='contact-container'>
    <div class="col-md-3">
      <%= image_tag('jon.JPG', size:'200', class: 'team-icon')%>
    </div>
    <div class="col-md-9">
      <h1>Jonathan</h1>
      <p>
        Jonathan is 17 year old born and raised in Houston, Texas.  He is going into his senior year at The Kinkaid School and plans on becoming a business major in his future studies. Jonathan’s previous business and economic classes helps him to guide the team to make practical decisions so our mission can best be accomplished.
      </p>
    </div>
  </div>
</div>
