<div id='segment-one' ></div>

<div id='segment-two' class='container'>
  <div class="row">
    <div class="col-md-4">
      <div class='image-container'>
        <h4> Protect the Planet </h4>
        <%= image_tag("globe.png", size: '100') %>
        <h6>Protect the mother nature.</h6>
      </div>
    </div>
    <div class="col-md-4">
      <div class='image-container'>
        <h4> Give Back to Society </h4>
        <%= image_tag("heart.png", size: '100') %>
        <h6>Protect endangered elephants.</h6>
      </div>
    </div>
    <div class="col-md-4">
      <div class='image-container'>
        <h4> Visit our Shop </h4>
        <%= image_tag("shop.png", size: '100') %>
        <h6>See all of our elephant inspired bracelets.</h6>
      </div>
    </div>
  </div>
</div>
